* {
	box-sizing: border-box;

}

header {
	text-align: center; 
}

body{
	margin: 0;
	padding: 0;
}
div {
		position:relative;	
		float: left;
		box-sizing: border-box;
		padding: 15px;
		border: 1px solid black;
	}

.tit{
	position: absolute;
	top:0;
	right: 0;
	padding: 10px;	
	border: 1px solid black;
}

#a{
	background-color: rgb(255 255 50);
}

#b{
	background-color: rgb(255 155 50);
}

#c{
	background-color: rgb(255 55 50);
}
/*/////desktop version////////////////////////////////*/
@media (min-width: 992px){
	

	#sec1 {
		background-color: rgb(225 225 225);
		width: 30%;
		height: 200px;
		margin: 20px 1.25% 20px 2.5%;

	}
	
	#sec2 {
		background-color: rgb(195 195 195);
		width: 30%;
		height: 200px;
		margin: 20px 1.25% 20px 1.25%;
	}
	
	#sec3 {	
		background-color: rgb(125 125 125);
		width: 30%;
		height: 200px;
		margin: 20px 2.5% 20px 1.25%;
	}
}
/*/////tablet version////////////////////////////////*/
@media (min-width: 768px) and (max-width: 991px){
	

	#sec1 {
		background-color: rgb(225 225 225);
		width: 42.5%;
		margin: 20px 2.5% 20px 5%;
	}
	
	#sec2 {
		background-color: rgb(195 195 195);
		width: 42.5%;
		margin: 20px 5% 20px 2.5%;
	}
	
	#sec3 {	
		background-color: rgb(125 125 125);
		width: 90%;
		margin: 20px 5% 20px 5%;
	}
}
/*/////mobile version////////////////////////////////*/
@media (max-width: 767px){
	

	#sec1 {
		background-color: rgb(225 225 225);
		width: 90%;
		margin: 20px 5% 20px 5%;
	}
	
	#sec2 {
		background-color: rgb(195 195 195);
		width: 90%;
		margin: 20px 5% 20px 5%;
	}
	
	#sec3 {	
		background-color: rgb(125 125 125);
		width: 90%;
		margin: 20px 5% 20px 5%;
	}
}

